.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #001529;
    padding: 0 1rem;
}

.navbar {
    min-width: 40vw;

    @media (min-width: 768px) {
        min-width: 75vw;
    }
}

.button {
    float: right;
}

.profit {
    color: greenyellow;
    font-size: 18px;
    font-weight: 600;
    padding-right: 50px;
}

.greeting {
    display: none;
    @media (min-width: 768px) {
        font-size: 15px;
        font-weight: 600;
        padding-right: 50px;
        color: white;
        display: block;
    }
}