.tokenList {
    background-color: #fac240;
    display: flex;
    width: 100%;
    height: 3vh;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.tokenList::-webkit-scrollbar {
    display: none;
}